{% extends 'projetPerso/layout.html.twig' %}

{% block stylesheets %}
    <link href="{{ 'styles/footer.css' }}" rel="stylesheet">
    <link href="{{ 'styles/nav.css' }}" rel="stylesheet">
    <link href="{{ 'styles/projetPerso.css' }}" rel="stylesheet">
{% endblock %}

{% block title %}Projet Perso{% endblock %}

{% block main %}
    <div class="projet-1">
        <img src="#" alt="image..." width="50%">
        <div class="event">
            <h2>Lorem ipsum</h2>
            <p class="text"> description </p>
        </div>
    </div>

    <div class="projet-2">
        <img src="#" alt="image..." width="50%">
        <div class="event">
            <h2>Lorem ipsum</h2>
            <p class="text"> description </p>
        </div>
    </div>

{% endblock %}
