.container {
    padding-top: 6em;
}

.projet {
    display: flex;
    flex-direction: row;
}

.projet_item {
    display: flex;
    margin: 1em 5px;
}

.image {
    width: 500px;
    height: 200px;
    vertical-align: center;
    object-position: center;
}

.text {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: center;
    margin-left: 2em;
}

.name, .link, .description {
    margin-top: 2em;
    margin-left: 2.5em;
    margin-right: 2.5em;
}
