<footer class="footer">
    <div class="bloc footerContact">
        <h3>Pour me contacter</h3>
        <p>06 00 00 00 00</p>
        <p>Saint avertin</p>
    </div>
    <div class="bloc footerReseaux">
        <h3>Mes Réseaux</h3>
        <ul class="listReseaux">
            <li>
                <a href="https://www.linkedin.com/in/maxime-bouet" target="_blank"> Mon Linkedin </a>
            </li>
            <li>
                <a href="https://github.com/Mgaren" target="_blank"> Mon Github</a>
            </li>
        </ul>
    </div>
</footer>
