<nav class="nav">
    <a href="#">Projet Perso</a>
    <a href="#">CV</a>
    <a href="{{ path('index') }}"><img src = "{{ ('images/ballon-basket.jpg') }}" class="image-home" alt="logo home" width="55" height="55"/></a>
    <a href="#">Loisirs</a>
    <a href="#">Projet D'équipe</a>
</nav>
